* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Markazi Text", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 70%;
	margin: auto;
	justify-content: center;
	align-items: center;
}

#countdown {
	font-weight: 800;
	font-size: 2.5rem;
}

#numbers {
	padding: 2rem;
}

#numbers span {
	font-size: 2.5rem;
}

#input {
	display: none;
	padding: 2rem;
}

#input input {
	margin: 2rem;
	padding: 0.3rem 0.5rem;
	max-width: 80px;
}
#input button {
	padding: 1.3rem;
	border: transparent;
	border-radius: 5px;
	color: white;
	background-color: #2a7b9b;
	box-shadow: 1px 1px 1px #0c2733;

	&:hover {
		background-color: #467991;
		cursor: pointer;
	}
}

#score {
	display: none;
	padding: 2rem;
	font-weight: 800;
	font-size: 2rem;
	border: 1px dashed black;
}
